@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

html, body{
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
}

.container{
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    color: teal;
}

.directions{
    margin: auto;
    font-size: 15px;
    text-align: justify;
    color: teal;
    max-width: 350px;
}

.player{
    text-align: center;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;;
}

.collapsible-body{
    color: white;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.images{
    margin: auto;
}

.players-pick{
    padding: 25px;
}

h3{
    text-align: center;
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 15px !important;
    padding:0;
}

.scoreOne, .scoreTwo{
    text-align: center;
}